<div class="container">
	<div class="row">
		<div class="col-offset-1 col-xs-10">
			<h1 class="text-center">契約申請中です。</h1>
			<p class="text-center">案件作成者からのご連絡をお待ちください。</p>


		</div>
	</div>
</div>