<div class="container">
	<div class="row">
		<div class="col-offset-1 col-xs-10">
			<h1 class="text-center">契約完了です。</h1>
			<h3 class="text-center">よいご契約となることを祈念しております！！</h3>
		</div>
	</div>
</div>