<div class="container">
	<div class="row">
		<div class="col-">
			<h3>契約詳細ページ</h3>
			<%= render "contracts/contract_content", item: @item %>
		</div><!--col-->
	</div><!--row-->
</div><!--container-->