<div class='container'>
	<div class='row'>
		<div class='col-xs-offset-1 col-xs-10'>
			<h3 class='text-center'>退会確認ページ</h3>
				<div class="text-center notice-field">
				    <p>退会すると登録情報や
	  	   				これまでの案件履歴が閲覧できなくなります。</p>
	  	   			<p>退会する場合は、「退会する」をクリックしてください。</p>
	  	   			<p>また、契約が進行中であるときには退会できません。</p>
	  	   			<p>申請を受けている際はキャンセルするか</p>
	  	   			<p>両者が契約終了を押してから退会してください。</p>

				  	<%= link_to '退会しない', user_path(current_user.id), class:"btn btn-success" %>

	  	  			<%= link_to '退会する', user_path(current_user.id), method: :delete, class:"btn btn-warning btn-md" %>
				</div>
		</div><!--col-->
	</div><!--row-->
</div><!--container-->