<div class="container">
	<h1 class="about-text">About Page</h1>
    <div class="row">
        <div class="col-md-3 col-sm-6 ">
            <div class="service-box">
                <div class="service-icon pink">
                    <div class="front-content">
                    	<i class="fas fa-award"></i>
                        <h3>サイトについて</h3>
                    </div>
                </div>
                <div class="service-content">
                    <h3>サイトについて</h3>
                    <p>「教えたい」「教えてほしい」をより身近なものとして、学習に役立てていただくためのものです。<br /><br />
                    双方の合意のもと個人契約をしていただきます。契約前にチャットで条件をすり合わせてミスマッチを防ぐこともできます。
                    </p>
                </div>
            </div><!--box-->
        </div>
        <div class="col-md-3 col-sm-6 ">
            <div class="service-box">
                <div class="service-icon gray">
                    <div class="front-content">
                        <i class="fas fa-book-open"></i>
                        <h3>「教えたい」</h3>
                    </div>
                </div>
                <div class="service-content">
                    <h3>「教えたい」先生</h3>
                    <p>「教える経験を積みたい」「技術を活かしたい」など、あなたの知識を活かしてみませんか？<br /><br />
                    オンラインでの授業であるため、生徒様との条件がが合えば時間や場所を選びません。</p>
                </div>
            </div><!--box-->
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service-box ">
                <div class="service-icon yellow">
                    <div class="front-content">
                        <i class="fas fa-angle-double-up"></i>
                        <h3>「教わりたい」</h3>
                    </div>
                </div>
                <div class="service-content">
                    <h3>「教わりたい」生徒様</h3>
                    <p>「ピンポイントで分からないところだけ知りたい」「期間限定で教わりたい」など、自分の要望に合わせた案件を提示することができます。<br /><br />よりたくさんの「わかった」を経験しましょう。</p>
                </div>
            </div><!--box-->
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="service-box">
                <div class="service-icon brown">
                    <div class="front-content">
                        <i class="fas fa-burn"></i>
                        <h3>本サイトの注意点</h3>
                    </div>
                </div>
                <div class="service-content">
                    <h3>利用について</h3>
                    <p>こちらのサイトは、契約成立後に契約相手に対してのみ案件制作者様のe-mailが公開されます。<br />
                    「教えたい」「教わりたい」をマッチングするためのサイトであり、その後の損害などの責任は一切負いかねますのでご注意ください。</p>
                </div>
            </div><!--box-->
        </div>
    </div><!--row-->
</div>
