<div class="container">
	<div class="row">
		<div class="col-xs-offset-1 col-xs-10">
			<h3>教えるComeon!!</h3>

			<%#= render "items/item_index", items: @items %>
			<% @teachers.each do |teacher| %>
				<%= render "items/item_index", items: teacher.items %>
			<% end %>
			
		</div><!--col-->
	</div><!--row-->
</div><!--container-->