<div class="container">
	<div class="row">
		<div class="col-xs-offset-1 col-xs-10">
			<h3>教えてPlease!!</h3>

			<%= render "items/item_index", item: @item %>
			
		</div><!--col-->
	</div><!--row-->
</div><!--container-->