// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #f16272 50%, #e0cb89 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.top-content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.about-text {
	font-size:25px;
	text-align: center;
	text-transform:capitalize;
}

.service-box {
	position: relative;
	overflow: hidden;
	margin-bottom:10px;
	perspective:1000px;
	-webkit-perspective:1000px;
}

.service-icon {
	width: 100%;
	height: 220px;
	padding: 20px;
	text-align: center;
	transition: all .5s ease;
}

.service-content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	width: 100%;
	height: 220px;
	padding: 20px;
	text-align: center;
	line-height: 15px;
	transition: all .5s ease;
	background-color: #6f6f6f;
	backface-visibility:hidden;
	transform-style: preserve-3d;
	-webkit-transform: translateY(110px) rotateX(-90deg);
	-moz-transform: translateY(110px) rotateX(-90deg);
	-ms-transform: translateY(110px) rotateX(-90deg);
	-o-transform: translateY(110px) rotateX(-90deg);
	transform: translateY(110px) rotateX(-90deg);
}

.service-box .service-icon .front-content {
	position: relative;
	top:80px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.service-box .service-icon .front-content i {
	font-size: 28px;
	color: #fff;
}

.service-box .service-icon .front-content h3 {
	font-size: 15px;
	color: #fff;
	text-align: center;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.service-box .service-content h3 {
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	margin-bottom:10px;
	text-transform: uppercase;
}

.service-box .service-content p {
	font-size: 13px;
	color: #fff;
	margin:0;
}

.pink {
	background-color: #f16272;
}

.gray {
	background-color: #9C948A;
}

.yellow {
	background-color: #e0cb89;
}

.brown {
	background-color: #855345;
}

.service-box:hover .service-icon {
	opacity: 0;
	-webkit-transform: translateY(-110px) rotateX(90deg);
	-moz-transform: translateY(-110px) rotateX(90deg);
	-ms-transform: translateY(-110px) rotateX(90deg);
	-o-transform: translateY(-110px) rotateX(90deg);
	transform: translateY(-110px) rotateX(90deg);
}

.service-box:hover .service-content {
	opacity: 1;
	-webkit-transform: rotateX(0);
	-moz-transform: rotateX(0);
	-ms-transform: rotateX(0);
	-o-transform: rotateX(0);
	transform: rotateX(0);
}
